@page "/Employees"

@using Northwind.Blazor.ViewModels 
@using Northwind.Data.Services 

@inject AutoMapper.IMapper _mapper
@inject IEmployeeService _employeeService

<h1>Employees</h1>

@if (employees == null)
{
    <LoadingPlaceholder />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job Title</th>
                <th>Hire Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in employees)
            {
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>
                        <NavLink class="pr-2" href="@("Employees/View/" + emp.EmployeeId)">
                            @emp.FullName
                        </NavLink>
                    </td>
                    <td>@emp.Title</td>
                    <td>@(emp.HireDate?.ToString("dd/MM/yyyy"))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<EmployeeViewModel> employees;

    protected override async Task OnInitializedAsync()
    {
        var employeeModels = await _employeeService.GetAll().OrderBy(e => e.EmployeeId).ToListAsync();

        employees = _mapper.Map<IEnumerable<EmployeeViewModel>>(employeeModels);
    }
}